:root{            
    --mycolor1:#d6d2c1;
    --mycolor2:#be8e63;
    --mycolor3:#a46843;
    --mycolor4:#35140d;
    --mycolor5:#135aab;
    --mycolor6:#11af9c;
    --mycolor7:#eae5d9;
    --mycolor8:#cc8b56;
    --mycolor9:#fbc2c3;
    --mycolor10:#f37672;
    --mycolor11:#e62227;
    --mycolor12:#a13f97;
}
.bg-cover{
    background-position: center center;
    background-size: cover;
}